extends layout2

block content
	.container-md.pt-3.pb-5.mb-5(style='max-width: 45rem;')
		form#prequal(action="/new", method="post")

			.h2 Loan
			.row
				.col-6 
					label.form-label(for='purchase-price') Purchase price
					.input-group
						span.input-group-text $
						input#purchase-price.form-control.imask-number(type='text' name='purchase-price' min='100000' max='4000000' placeholder='Purchase price' required)
						.invalid-feedback Must be between $100,000 and $4,000,000.
				.col-4.gx-0
					label.form-label(for='down-payment') Down payment
					.input-group
						span.input-group-text $
						input#down-payment.form-control.imask-down-payment(type='text' name='down-payment' placeholder='Down payment' required)
						.invalid-feedback Must be at least 3% of your purchase price, and allow for a loan of $50,000 or more.

				.col-2.gx-0
					label.form-label.invisible(for='dp-percent') %
					.input-group
						input#dp-percent.form-control(type='text' name='dp-percent' required)
						span.input-group-text %

			label.form-label(for='loan-amount') Loan amount
			p#loan-amount 
			.mb-5


			.h2 Debt-to-income (DTI)
			.h4 Income
			label.form-label(for='monthly-income') Monthly income
			.input-group.mb-3
				span.input-group-text $
				input#monthly-income.form-control.imask-number(type='text' name='monthly-income' min='0' placeholder='Monthly income' required)
				.invalid-feedback Test, delete later
			
			.h4 Debt
			label.form-label.mb-2(for='monthly-loan-payment') Monthly new home payment
			p#monthly-loan-payment

			label.form-label(for='other-monthly-debt') Other monthly debt payments
			.input-group.mb-3
				span.input-group-text $
				input#other-monthly-debt.form-control.imask-number(type='text' name='other-monthly-debt' min='0' placeholder='Other monthly debt payments' required)
				.invalid-feedback Test, delete later

			label.form-label.mb-3(for='total-monthly-debt') Total monthly debt payments
			p#total-monthly-debt

			.h4 DTI ratio
			label.form-label.mb-3(for='dti') Your DTI
			p#dti

			label.form-label.mb-3(for='title') Max DTI
			p 43%

			.h2 Assets			
			label.form-label(for='total-assets') Total assets
			.input-group.mb-3
				span.input-group-text $
				input#total-assets.form-control.imask-number(type='text' name='total-assets' min='0' placeholder='Total assets' required)
				.invalid-feedback Test, delete later
			
			label.form-label.mb-3(for='required-assets') Required assets
			p#required-assets

			.h2 Credit
			label.form-label(for='credit-score') Your credit score (300 to 850)
			input#credit-score.form-control.imask-number.mb-3(type='text' name='credit-score' min='0' placeholder='Credit score' required)
			.invalid-feedback Test, delete later
			
			label.form-label.mb-3(for='title') Minimum credit score
			p 600

			p#credit-approval

			.h2 Pre-qualification
			label.form-label.mb-3(for='title') Your prequalification status
			p#prequal-check
			p#prequal-details

			// action buttons
			.mb-5
			input.btn.btn-secondary(type='button' name='cancel' value='Reset' onClick="window.location.href='/';")
			button.btn.btn-primary.mx-3(type='submit') Save